Source: python-gnucashtoolset
Maintainer: Benedikt Trefzer <benedikt.trefzer@cirrax.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 11~),
               dh-python,
               python3-setuptools,
               python3-all,
Standards-Version: 3.9.1

Package: python3-gnucashtoolset
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python3-gnucash,
         python3-jinja2
Description: tools to manipulate/export/import gnucash data
 tools to manipulate/export/import gnucash data
